%% Dependencies =================================================================
{deps,
  [{cowboy, ".*",
      {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.3"}}},
   {uuid, ".*",
      {git, "git://github.com/avtobiff/erlang-uuid.git", {tag, "v0.4.6"}}},
   {jiffy, ".*",
      {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.8"}}},
   {erlpass, ".*",
      {git, "git://github.com/ferd/erlpass.git", {tag, "1.0.2"}}},
   {gun, ".*",
      {git, "git://github.com/ninenines/gun.git", {tag, "1.0.0-pre.1"}}}
  ]}.

%% Compiler Options ============================================================
{erl_opts,
  [{platform_define, "^[0-9]+", namespaced_types}, debug_info, fail_on_warning,
    inline, {parse_transform}]}.

%% EUnit =======================================================================
{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.

%% Common test =================================================================
{ct_opts, [{sys_config, "./config/sys-test.config"}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

%% Release =====================================================================
% TODO
{relx, [{release, {phoenix, "0.0.0"}, [phoenix, sasl]},
        {sys_config, "./config/sys.config"}, % this is the default (dev)
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

%% Overrides ===================================================================
{overrides, [
  % jiffy
  {override, jiffy,
    [{plugins, [pc]},
    {artifacts, ["priv/jiffy.so"]},
    {provider_hooks, [{post, [{compile, {pc, compile}},
                        {clean, {pc, clean}}
    ]}]}]}]}.
